<h1><%= @user.username %>'s Profile</h1>

<p><strong>Email:</strong> <%= @user.email_address %></p>

<h2>Currently Borrowed Books</h2>
<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Status</th>
  </tr>

  <% @borrowed_books.each do |borrowing| %>
    <tr>
      <td><%= borrowing.book.title %></td>
      <td><%= borrowing.book.author %></td>
      <td><%= borrowing.returned_at.nil? ? 'Borrowed' : 'Returned' %></td>
    </tr>
  <% end %>
</table>
